@import "tailwindcss";

@theme {
  --color-main: #335cff;

  --color-base: #0f1115;
  --color-focus: #22242f;
  --color-surface: #525866;
  --color-panel: #141821;
  --color-mark: #3a3f4d;
  --color-muted: #242b3c;
  --color-strong: #f3f5f8;

  --font-inter: "Inter", sans-serif;
  --font-inter-tight: "Inter Tight", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-nunito-sans: "Nunito Sans", sans-serif;
  --font-nunito: "Nunito", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --font-crimson-text: "Crimson Text", serif;
  --font-libre-baskerville: "Libre Baskerville", serif;
  --font-lora: "Lora", serif;
  --font-merriweather: "Merriweather", serif;
  --font-spectral: "Spectral", serif;

  --font-fira-code: "Fira Code", monospace;
  --font-ibm-plex-mono: "IBM Plex Mono", monospace;
  --font-inconsolata: "Inconsolata", monospace;
  --font-jetbrains-mono: "JetBrains Mono", monospace;
  --font-roboto-mono: "Roboto Mono", monospace;

  --font-noto-emoji: "Noto Emoji", sans-serif;
}

@layer components {
  .thin-scrollbar {
    @apply scrollbar-thin scrollbar-thumb-surface scrollbar-track-focus scrollbar-thumb-rounded-full scrollbar-track-rounded-full;
  }

  .placeholder-logic.is-empty:before {
    @apply block;
  }

  .placeholder-logic:not(.is-empty):before {
    @apply hidden;
  }
}

@theme {
  @keyframes slide-main {
    0% {
      width: 20%;
      left: 0%;
    }
    20% {
      width: 25%;
      left: 20%;
    }
    40% {
      width: 20%;
      left: 40%;
    }
    60% {
      width: 25%;
      left: 60%;
    }
    80% {
      width: 20%;
      left: 80%;
    }
    100% {
      width: 25%;
      left: 100%;
    }
  }

  @keyframes slide-entry {
    0% {
      width: 25%;
      left: -25%;
      display: block;
    }
    20% {
      width: 20%;
      left: 0%;
      display: block;
    }
    20.01% {
      width: 20%;
      left: 0%;
      display: none;
    }
    100% {
      width: 25%;
      left: -25%;
      display: none;
    }
  }

  --animate-main-progress: slide-main 2s infinite linear 400ms;
  --animate-entry-progress: slide-entry 2s infinite linear;
}

@plugin "tailwind-scrollbar" {
  nocompatible: true;
}
